<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Entry</title>
    {%load static%}
    <link rel="stylesheet" href=" {%static 'student.css'%}">
</head>
<body>
    <h1>Enter Data of Students</h1>
    <div class="form-container">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="student_name" class="form-label">Student Name</label>
                <input type="text" name="student_name" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="student_address" class="form-label">Student Address</label>
                <input type="text" name="student_address" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="student_roll_number" class="form-label">Roll Number</label>
                <input type="text" name="student_roll_number" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="student_section" class="form-label">Student Section</label>
                <input type="text" name="student_section" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="student_marks_math" class="form-label">Marks in Math</label>
                <input type="text" name="student_marks_math" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="student_marks_Digital_logic" class="form-label">Marks in Digital Logic</label>
                <input type="text" name="student_marks_Digital_logic" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="student_marks_programming" class="form-label">Marks in Programming</label>
                <input type="text" name="student_marks_programming" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="student_marks_discrete" class="form-label">Marks in Discrete Mathematics</label>
                <input type="text" name="student_marks_discrete" class="form-control" required>
            </div>
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>

    <!-- Table to display submitted data -->
    <div class="form-container">
        <h2>Submitted Data</h2>
        <table>
            <thead>
                <tr>
                    <th>Student Name</th>
                    <th>Address</th>
                    <th>Roll Number</th>
                    <th>Section</th>
                    <th>Marks in Math</th>
                    <th>Marks in Digital Logic</th>
                    <th>Marks in Programming</th>
                    <th>Marks in Discrete Mathematics</th>
                    <th>update</th>
                </tr>
            </thead>
            <tbody>
                
                {% for student in students %}
                <tr>
                    <td>{{ student.student_name }}</td>
                    <td>{{ student.student_address }}</td>
                    <td>{{ student.student_roll_number }}</td>
                    <td>{{ student.student_section }}</td>
                    <td>{{ student.student_marks_math }}</td>
                    <td>{{ student.student_marks_digital_logic }}</td>
                    <td>{{ student.student_marks_programming }}</td>
                    <td>{{ student.student_marks_discrete }}</td>
                    <td>
                        <a href="/update/{{student.id}}"class ="btn btn-success">update</a>
                    </td>
                    <td>
                        <a href="/result/{{student.id}}" class="btn btn-success"> result</a>
                    </td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
        
    </div>
    <br>
</body>
</html>
