<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Student</title>
</head>
<body>
    <h1>Update Student</h1>
    <form method="POST">
        {% csrf_token %}
        <div>
            <label>Student Name:</label>
            <input type="text" name="student_name" value="{{ student.student_name }}" required>
        </div>
        <div>
            <label>Address:</label>
            <input type="text" name="student_address" value="{{ student.student_address }}" required>
        </div>
        <div>
            <label>Roll Number:</label>
            <input type="text" name="student_roll_number" value="{{ student.student_roll_number }}" required>
        </div>
        <div>
            <label>Section:</label>
            <input type="text" name="student_section" value="{{ student.student_section }}" required>
        </div>
        <div>
            <label>Marks in Math:</label>
            <input type="text" name="student_marks_math" value="{{ student.student_marks_math }}" required>
        </div>
        <div>
            <label>Marks in Digital Logic:</label>
            <input type="text" name="student_marks_Digital_logic" value="{{ student.student_marks_Digital_logic }}" required>
        </div>
        <div>
            <label>Marks in Programming:</label>
            <input type="text" name="student_marks_programming" value="{{ student.student_marks_programming }}" required>
        </div>
        <div>
            <label>Marks in Discrete Mathematics:</label>
            <input type="text" name="student_marks_discrete" value="{{ student.student_marks_discrete }}" required>
        </div>
        <button type="submit">Update</button>
    </form>
</body>
</html>
